<h1><%= @name.capitalize %></h1>
<ul>
  <li>Email: <%= @interests[:email] %></li>
  <li>Interests: <%= @interests[:interests].join(', ') %></li>
</ul>
<p>Other Users</p>
<ul>
  <% @users.each do |name, _| %>
    <% next if name.to_s == @name %>
    <li><a href="/user/<%=name %>"><%= name %></a></li>
  <% end %>
</ul>
